<!DOCTYPE html>
<html ng-app="bovespaApp">
<head>
	<meta charset="utf-8">

	<!-- Estilos -->
	<link rel="shortcut icon" href="resources/images/favicon.png" type="image/x-icon" />
  	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" type="text/css" href="views/css/bovespa.css">

  	<!-- Scripts -->
  	<script src="bower_components/jquery/dist/jquery.min.js"></script>
  	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
	<script src="node_modules/socketio-file-upload/client.js"></script>
  	<script src="views/scripts/bovespa.js"></script>
  	<script src="socket.io/socket.io.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   	<script src="https://code.highcharts.com/highcharts.js"></script>
   	<script src="views/scripts/gray.js"></script>



  	<title>Bovespa</title>

</head>
<body ng-controller="bovespaListController as bovespaList">

	<header>

		<div class="container">
			<div class="row rowHeader">
				<ul>
					<li ng-repeat="header in dataHeader.bovespaHeaderData">
						
						<div class="nome col-xs-6 col-md-6 col-lg-6">
							<p>
								<i class="fa fa-arrow-circle-right"></i>
								<label>Nome do Arquivo: </label>
								<small>{{header.h_nome_arquivo}}</small>

							</p>
						</div>
						
						<div class="origem col-xs-6 col-md-6 col-lg-6">
							<p>
								<i class="fa fa-arrow-circle-right"></i>
								<label>Cod. Origem: </label>
								<small>{{header.h_codigo_da_origem}}</small>
							</p>
						</div>

						<!-- <button type="button" onclick="select.html">Click Me!</button> -->
				

						<div class="data col-xs-12 col-md-12 col-lg-12">
							<p>
								<i class="fa fa-calendar" ></i>
								<label>Data Geracao: </label>
								<small>{{header.h_data_geracao_do_arquivo}}</small>
							</p>
						</div>

					</li>
				</ul>
			</div>
		</div>

	</header>

	<section>

		<div class="container selecionaArquivo">
			<div class="row">

				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<i class="fa fa-files-o selecionaArquivo-icon">
						
						<label class="selecionaAno-label">Ano: 

							<small>
								<select class="selectpicker" ng-model="selecionaAnoAcao" ng-options="y for y in anosAcoes" ng-change="capturaAnoAcaoSelecionado(selecionaAnoAcao)">
								</select>
							</small>

						</label>

						<label class="selecionaMes-label">Mês: 

							<small>
								<select class="selectpicker" ng-model="selecionaMesAcao" ng-options="m for m in mesesAcoes" ng-change="capturaMesAcaoSelecionado(selecionaMesAcao)">
								</select>
							</small>

						</label>

						<label class="selecionaAcao-label">Ações: 

							<small>
								<select class="selectpicker" ng-model="selecionaAcao" ng-options="x for x in acoes" ng-change="capturaAcaoSelecionada(selecionaAcao)">
								</select>
							</small>

						</label>

						<label for='file_input' class="btn btn-primary btn-file botaofile" >
							<i class="fa fa-folder-open-o" aria-hidden="true"></i>
							<input type="file" class="file-up" id="file_input" multiple="true" />
							<span><progress class="progresso" ng-model="progresso" value={{progresso}} max="100"></progress></span>
						</label>
					</i>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 notification">

					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle botaonotificacao" data-toggle="dropdown" ng-click="resetnotificacao()">
						  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
						  <strong><small ng-model="contadornotificacao" class="contadornotificacao">{{contadornotificacao}}</small></strong>
						  <!-- <span class="caret"></span> -->
						</button>
						<ul class="dropdown-menu">
			    			<li class="containernotificacoes" ng-repeat="notificacao in notificacoes | orderBy: '-horario'"><i class="fa fa-file" aria-hidden="true"></i>{{notificacao.status}} {{notificacao.horario}}</li>
			  			</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="chart">		
			<div id="container">			

			</div>	
		</div>
		
	</section>

	<footer>
	
		<div class="container rodape">

		<div class="nome col-xs-4 col-md-4 col-lg-4">
			<label>Trabalho Construção de Software II</label>
		</div>

		<div class="nome col-xs-4 col-md-4 col-lg-4">
			<label>Alunos: Rallristhy, Thales</label>
		</div>

		<div class="nome col-xs-4 col-md-4 col-lg-4">
			<label>Universidade Federal de Mato Grosso do Sul</label>
		</div>
		
	</footer>

</body>
</html>